#textdomain wesnoth-Ooze_Mini_Campaign
[textdomain]
    name="wesnoth-Ooze_Mini_Campaign"
    path="data/add-ons/Ooze_Mini_Campaign/translations"
[/textdomain]

[campaign]
    name= _ "Ooze Mini-Campaign"
    translations=data/add-ons/Ooze_Mini_Campaign/translations
    id=ooze_campaign
    abbrev= _ "OC"
    define=CAMPAIGN_OOZE_MINI_CAMPAIGN
    icon=units/monsters/giant-mudcrawler.png
    image=units/monsters/giant-mudcrawler.png
    description= _ "You are an ooze, and you are hungry. Devour the foolish intruders that have entered your domain! Four levels, including an RPG level. Version 1.3. 
    
Multiplayer: Two player co-op has been tested for version 1.3 only!


SpenceLack: Campaign Creator
CIB: maintenance and MP mode
megane: spiderbaby image and recolouring the mudcrawler line
mich: maintenance and translation
rockscorpion: translation
wesbane: multiplayer and maintenance"

    first_scenario=1_Lab

[/campaign]

#ifdef CAMPAIGN_OOZE_MINI_CAMPAIGN
    [binary_path]
        path=data/add-ons/Ooze_Mini_Campaign
    [/binary_path]

    {~add-ons/Ooze_Mini_Campaign/OOZE_COLORS.txt}
    {~add-ons/Ooze_Mini_Campaign/utils}
    [+units]
	    {~add-ons/Ooze_Mini_Campaign/units}
    [/units]
    {~add-ons/Ooze_Mini_Campaign/scenarios}
    {~add-ons/Ooze_Mini_Campaign/credits.cfg}
#endif

#ifdef MULTIPLAYER
    [binary_path]
        path=data/add-ons/Ooze_Mini_Campaign
    [/binary_path]

    {~add-ons/Ooze_Mini_Campaign/OOZE_COLORS.txt}
    {~add-ons/Ooze_Mini_Campaign/utils}
    [+units]
	    {~add-ons/Ooze_Mini_Campaign/units}
    [/units]
    {~add-ons/Ooze_Mini_Campaign/scenarios}
    {~add-ons/Ooze_Mini_Campaign/credits.cfg}
#endif





